.hero {
  position: relative;
}
.hero h3 {
  font-weight: 100;
  letter-spacing: 2px;
}
.hero h1 {
  font-size: 60px;
  font-weight: bold;
}

.hero h1 span {
  color: #ff014f;
}
.hero h2 {
  font-size: 50px;
  font-weight: bold;
  color: #ff014f;
}
.hero h2 span {
  color: black;
}
.hero p {
  color: #878e99;
  font-size: 18px;
  line-height: 30px;
  margin-top: 30px;
}
.hero_btn {
  margin-top: 20%;
  display: flex;
  justify-content: space-between;
}
.hero_btn h4 {
  font-weight: 500;
  letter-spacing: 2px;
  color: #43474b;
  font-size: 15px;
  margin: 30px 0 30px -10px;
  text-align: center;
}
.hero_btn button {
  margin-right: 30px;
  margin-bottom: 10px;
}
.hero_btn i {
  font-size: 20px;
}
.typo{
  display: flex;
}
.typo span{
  margin-left: 10px;
}
.hero .left {
  margin-right: 10%;
}
.hero .right {
  width: 40%;
  position: relative;
  
}

.hero .right_img {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
  border-radius: 50%;
  height: 50vh;
  width: 50vh;
  margin-top: 40%;
  margin-left: 10%;
 display: flex;
 align-items: center;
 justify-content: center;
}
.hero .right_img h1  {
  font-size: 8vw;
  color: #ff014f;
  text-shadow: 4px 4px 8px #acacac, -4px -4px 8px rgb(219, 219, 219);
  text-align: center;

}

@media (max-width: 1500px) {
  .hero h1{
    font-size: 50px;
  }
  .hero h2{
    font-size: 40px;
  }
  .hero p{
    font-size: 16px;
  }
}
@media (max-width: 1240px) {
  .hero h1{
    font-size: 35px;
  }
  .hero h2{
    font-size: 30px;
  }
  .hero p{
    font-size: 16px;
  }
}

@media (max-width: 960px) {
  .hero{
    text-align: center;
    
  }
  .typo{
    display: flex;
    justify-content: center;
  }
  .hero .right,
  .hero .left {
    width: 100%;
    /* padding: 0 20px 0 10px; */

  }
  .hero_btn{
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .hero h1{
    font-size: 50px;
  }
  .hero h2{
    font-size: 40px;
  }
  .hero p{
    font-size: 16px;
    padding: 0 40px;
  }
  .hero .f_flex {
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .hero .right_img {
    width: 40vw;
    height: 40vw;
    margin: 0 auto;
    line-height: 35vw;
    margin-top: 20%;
  }
  .hero .right_img h1  {
    font-size: 60px;
  }
}

@media (max-width: 650px) {
  .hero{
    text-align: center;
    min-width: 450px;
  }
  .hero h1{
    font-size: 30px;
  }
  .hero h2{
    font-size: 25px;
  
  }
  .hero p{
    font-size: 16px;
  }
  
  .hero .right_img h1  {
    font-size: 40px;
  }
}

@media (max-width: 420px) {
  .hero{
    text-align: center;
    min-width: 300px;
  }
  .col_1 h4{
    margin-right: 20px;
  }

}